:root {
  --mc: #0d5efd;
  --sc: #ff0000;
  --gc: #dddddd;
  --lc: #f7f7f7;
  --dc: #444444;
}


.container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  gap: 30px;
}

.container>* {
  flex: 1;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.inner::after {
  content: "";
  display: block;
  clear: both;
  /* float 떳을 때 부모 높이가 없어지는걸 방지 */
}

.mainColor {
  color: var(--mc);
}

.basicSection {
  padding: 100px 0;
  letter-spacing: -0.025;
  font-size: 15px;
}

.basicSection h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.basicSection h2 span {
  color: var(--mc);
}

.basicSection h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  margin: 15px auto;
  background: var(--mc);
}

.basicSection>p {
  margin: 0 0 50px 0;
  font-weight: 300;
  text-align: center;
}

.dotList li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.dotList li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--mc);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 3px solid var(--mc);
}

.table th {
  padding: 15px;
  text-align: left;
  font-weight: 400;
  background: var(--lc);
}

.table td {
  padding: 15px;
  border-left: 1px solid var(--gc);
}

.table tr {
  border-bottom: 1px solid var(--gc)
}

.responsive_table {
  width: 100%;
  overflow-x: scro;
}